@font-face {
  font-family: 'Poiret One';
  font-style: normal;
  font-weight: 400;
  src: local('Poiret One'),
  local('PoiretOne-Regular'),
  url(./HrI4ZJpJ3Fh0wa5ofYMK8RsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}



.cf:after,.cf:before{content:" ";display:table}.cf:after{clear:both}.cf{*zoom:1}
body{background:#E9E9E9}
header{text-align:center}
h1{font-family:'Poiret One',cursive,serif;font-size:50px;color:#666}
h2{float:left;font-family:'Poiret One',cursive,serif;font-size:30px;margin:0;padding:0;display:inline;color:#fff}
a{color:#222}
.hide{display:none}
.customSelectInner span{float:left}hr{border:0;margin:10px 0;adding:0;outline:0;color:#ddd;background-color:#ddd;height:1px}
.wrapper{width:740px;margin:0 auto;position:relative}
.choose-area{margin:0 auto;max-width:740px;position:relative}
.choose-area span{display:block}
.choose-property option{padding:0;margin:0;width:100%}
.arrow{display:block;float:right}
.main-area{max-width:740px;margin:0 auto;position:relative}

.option-box{
	font-family:'Poiret One',cursive,serif;
	font-size:20px;
	height:70px;
	width:300px;
	background:#444;
	
	text-align:center;
	line-height:68px;
	margin:0 10px 10px 0;
	opacity:1;
	color:#fff;
	cursor:pointer;
	-webkit-transition:all 150ms ease-in-out;
	-moz-transition:all 150ms ease-in-out;
	-ms-transition:all 150ms ease-in-out;
	-o-transition:all 150ms ease-in-out;
	transition:all 150ms ease-in-out;
}
.option-box:hover{background:#555}

.desarrollo{
	
	color:#666;
	min-height:30px;
	max-width:700px;
	background:#fff;
	border:1px solid #ddd;
	border-bottom:3px solid #ddd;
	margin:0 auto 20px;
	opacity:1;
	padding:20px;
	-webkit-transition:all 300ms ease-in-out;
	-moz-transition:all 300ms ease-in-out;
	-ms-transition:all 300ms ease-in-out;
	-o-transition:all 300ms ease-in-out;
	transition:all 300ms ease-in-out;
}

.choose-area span .block-icon{position:absolute;top:18px;right:20px;height:36px;width:32px}
.choose-area span .block-icon span
{
	background:rgba(255,255,255,.3);
	height:10px;
	width:15px;
	float:left;
	margin-left:1px;
	margin-bottom:1px;
	display:block;
	-webkit-transition:all 150ms ease-in-out;
	-moz-transition:all 150ms ease-in-out;
	-ms-transition:all 150ms ease-in-out;
	-o-transition:all 150ms ease-in-out;
	transition:all 150ms ease-in-out
}
.choose-area .customSelect:hover span.block-icon span{background:rgba(255,255,255,1)}
.choose-property
{	
	margin:0 0 20px;
	cursor:pointer;
	font-family:'Poiret One',cursive,serif;
	outline:0;
	border:0;
	width:720px;
	padding:20px 0 20px 20px;
	background:#3299BB;
	color:#fff;
	font-size:24px;
	-webkit-box-shadow:inset 0 -1px 10px 0 rgba(0,0,0,.1);
	box-shadow:inset 0 -1px 10px 0 rgba(0,0,0,.1);
	-webkit-transition:background 150ms ease-in-out;
	-moz-transition:background 150ms ease-in-out;
	-ms-transition:background 150ms ease-in-out;
	-o-transition:background 150ms ease-in-out;
	transition:background 150ms ease-in-out
}
.choose-property2
{	
	margin:0 0 20px;
	cursor:pointer;
	font-family:'Poiret One',cursive,serif;
	outline:0;
	border:0;
	width:720px;
	padding:20px 0 20px 20px;
	background:green;
	color:#fff;
	font-size:24px;
	-webkit-box-shadow:inset 0 -1px 10px 0 rgba(0,0,0,.1);
	box-shadow:inset 0 -1px 10px 0 rgba(0,0,0,.1);
	-webkit-transition:background 150ms ease-in-out;
	-moz-transition:background 150ms ease-in-out;
	-ms-transition:background 150ms ease-in-out;
	-o-transition:background 150ms ease-in-out;
	transition:background 150ms ease-in-out
}
.customSelect:hover{background:#298cad}
.customSelect2:hover{background:#22AA22}



#option-boxes{
	display:none;
	margin: 0 auto;
}


.menubar{
	margin: 0 auto;
	width:720px;
}
.menubar span{
	float:right;
	font-size: 9px;
	margin-left:10px; 
}

.menubar span:hover{
	color:red; 
	cursor:pointer;
}
.usertext{
	color: green;
}:hover{
	color: green;
}

.register:hover{
	color:red; 
	cursor:pointer;
};

.userready{
	background-color: green;
}

#option-boxes{
	width:720px;
	margin: 0 auto;
}
.option-left{
	float:left;
}
.option-right{
	float:right;
}

.genome-desarrollo{
	color:#666;
	min-height:100px;
	width:360px;
	background:#fff;
	border:1px solid #ddd;
	border-bottom:3px solid #ddd;
	margin:0 auto 20px;
	opacity:1;
	padding:20px;
	-webkit-transition:all 300ms ease-in-out;
	-moz-transition:all 300ms ease-in-out;
	-ms-transition:all 300ms ease-in-out;
	-o-transition:all 300ms ease-in-out;
	transition:all 300ms ease-in-out;
}

#compile{
	font-family:'Poiret One',cursive,serif;
	font-size:20px;
	height:70px;
	width:300px;
	background-color: orange;
	margin:0 10px 10px 0;
	
	
	line-height:68px;
	opacity:1;
	color:#fff;
	cursor:pointer;
	-webkit-transition:all 150ms ease-in-out;
	-moz-transition:all 150ms ease-in-out;
	-ms-transition:all 150ms ease-in-out;
	-o-transition:all 150ms ease-in-out;
	transition:all 150ms ease-in-out;
}
#compile h2{
	margin: 0 0 0 45px;
}

#run{
	font-family:'Poiret One',cursive,serif;
	font-size:20px;
	height:70px;
	width:300px;
	background-color: red;
	margin:0 10px 10px 0;
	
	
	line-height:68px;
	opacity:1;
	color:#fff;
	cursor:pointer;
	-webkit-transition:all 150ms ease-in-out;
	-moz-transition:all 150ms ease-in-out;
	-ms-transition:all 150ms ease-in-out;
	-o-transition:all 150ms ease-in-out;
	transition:all 150ms ease-in-out;
}



#run h2{
	margin: 0 0 0 80px;
}
#exec{
	margin: 0 auto;
	display: none;
}

td input {
	width:50px;
}